@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300;600&family=PT+Mono&family=Source+Sans+Pro:ital,wght@1,600&display=swap');
*{
    padding: 0px;
    margin: 0px;
    list-style: none;
    transition: all 0.2s ease;
}
:root {
    --main-color:rgb(39, 38, 35);
    
}

html{
    font-size: 62%;
    font-family: 'Noto Sans Display', sans-serif;
}
body {
    margin: 0 15%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(141, 141, 141, 0.204);
    position: relative;
}

.header {
    margin-bottom: 10rem;
    width: 140%;
    padding: 35rem 5rem 0 5rem;
    display: flex;
    justify-content: center;
    position: relative;
    background-image: url("/assets/poke.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    
    background-attachment: fixed;
    background-size: 100% auto;
    background-position-y: -150px;
}
.header .logo {
    position: absolute;
    top: 2rem;
    display: flex;
    justify-content: center;
}

.search-div {
    background-color: rgba(255, 230, 0, 0.367);
    width: 40%;
    position: absolute;
    bottom: 4rem;
    padding: 2rem;
    border-radius: 10rem;
    box-shadow: rgba(79, 79, 79, 0.1) 0px 4px 15px;
}
.search-div input{
    width: 90%;
    padding: 0.5rem 0rem;
    outline: none;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 2rem;
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 600;
}
.search-div input::placeholder {
    color: #ccc;
}
.fav-container,
.container{
    width: 100%;
    margin: 0 16%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 7rem;
    position: relative;
}
.main-title {
    font-size: 1.3rem;
    font-family: sans-serif;
    position: absolute;
    top: -5rem;
    left: 3rem;
    border-bottom: 2px solid var(--main-color);
    width: 95%;
}
.fav-main-card,
.fav-card,
.main-card,
.card {
    border-radius: 25px;
    height: 550px;
    
}
.fav-card,
.card {
    background:repeating-linear-gradient(var(--main-color), white);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 9999;
    box-shadow: rgba(79, 79, 79, 0.1) 0px 4px 15px;
}
.fav-main-card,
.main-card {
    margin: 1rem;
    position: relative;
}

.card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.card-header i {
    font-size: 2rem;
    position: absolute;
    cursor: pointer;
}
.card-header .pvet { 
    margin-top: 3rem;
    left: 1.3rem;
}
.card-header .title {
    justify-content: center;
    margin-top: 3rem;
    font-size: 2.4rem;
    font-weight: 600;
}
.card-header .star { 
    margin-top: 3rem;
    right: 1.3rem;
}
.image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.image img {
    width: 20rem;
    height: 25rem;
    z-index: 9999;    
}
.contend-section {
    width: 100%;
    height: 21.5rem;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    bottom: 0;
    padding-top: 7rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 15px;
}
.contend-nav ul {
    display: flex;
    justify-content: center;
        
}
.contend-nav ul li {
    margin: 0 1.5rem;
    font-size: 1.3rem;
    cursor: pointer;
    padding-bottom: 0.1rem;
    border-bottom: 0.2rem solid transparent;
    color: gray;
}
.isActive,
.contend-nav ul li:hover {
    color: var(--main-color);
    border-bottom: 0.2rem solid var(--main-color);
    border-radius: 0.2rem;
}
.about{
    color: gray;
    margin: 1.3rem 2rem 0 2rem;
    font-size: 1.15rem;
}
.about .article {
    text-align: start;
}
.physical {
    margin-top: 1rem;
}
.physical ul li {
    padding-bottom: 1rem;
}
.stats {
    font-size: 1rem;
    margin: 0.7rem 0;
    padding-left: 1.8rem ;
    position: relative;
}
.stats ul li {
    margin: 1.8rem 0;
    color: gray;
}
.container-stats-ratio {
    position:relative;
    left: 8.2rem;
    bottom: 15.6rem;
}
.stats-ratio {
    background-color: rgb(193, 193, 193);
    height: 0.8rem;
    margin-bottom: 2.38rem;
    width: 62%;
    border-radius: 25px;
}
.stats-ratio .ratio{
    background-color: var(--main-color);
    height: 100%;
    border-radius: 25px;
}
#hp-ratio{
width: 40%;
}
.moves {
    margin: 2rem 2.5rem;  
    font-size: 1.3rem; 
}
.moves ul.ulTop {
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.moves ul.ulBottom {
    display: flex;
    justify-content: center;
    padding: 1rem;}

.moves ul li {
    color: gray;
    padding: 0.5rem;
    margin: 0.5rem;
    text-align: center;
    border-radius: 25px;
    background: rgba(227, 227, 227, 0.41);
}

.evolution {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    height: 80%;
}
.evolution ul li {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    color: gray;
    background-color: rgba(223, 223, 223, 0.374);
    border-radius: 25px;
}
@media(max-width: 80rem) {
    .fav-container,
    .container {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5rem;
    }
}
@media(max-width: 55rem) {
    .fav-container,
    .container {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 3rem;
    }
}
@media(max-width: 25rem) {
    .fav-container
    .container {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 3rem;
        margin: 0 2%;
    }
    .fav-card,
    .card {
        border-radius: 0px;
    }
}

/*SOLDAN KAYBOLMA EFEKTİ*/
.slide-out-blurred-left {
	-webkit-animation: slide-out-blurred-left 0.20s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
	        animation: slide-out-blurred-left 0.20s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
}
/*SAĞDAN GELME EFEKTİ*/
.slide-out-blurred-right {
	-webkit-animation: slide-out-blurred-right 1s cubic-bezier(0.755, 0.050, 0.855, 0.060) reverse both;
	        animation: slide-out-blurred-right 1s cubic-bezier(0.755, 0.050, 0.855, 0.060) reverse both;
}

/********************************SOLA KAYDIRARAK YOK OLMA EFEKTİ******************************/

/* ----------------------------------------------
 * Generated by Animista on 2022-12-22 17:58:25
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-blurred-left
 * ----------------------------------------
 */
 
 @-webkit-keyframes slide-out-blurred-left {
    0% {
      -webkit-transform: translateX(0) scaleY(1) scaleX(1);
              transform: translateX(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(-1000px) scaleX(2) scaleY(0.2);
              transform: translateX(-1000px) scaleX(2) scaleY(0.2);
      -webkit-transform-origin: 100% 50%;
              transform-origin: 100% 50%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
      
    }
  }
  @keyframes slide-out-blurred-left {
    0% {
      -webkit-transform: translateX(0) scaleY(1) scaleX(1);
              transform: translateX(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(-1000px) scaleX(2) scaleY(0.2);
              transform: translateX(-1000px) scaleX(2) scaleY(0.2);
      -webkit-transform-origin: 100% 50%;
              transform-origin: 100% 50%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
      
    }
  }
  /**************************SAĞDAN GELME EFEKTİ**************************************/
  
  /* ----------------------------------------------
 * Generated by Animista on 2022-12-22 18:1:30
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-blurred-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-blurred-right {
    0% {
      -webkit-transform: translateX(0) scaleY(1) scaleX(1);
              transform: translateX(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(1000px) scaleX(2) scaleY(0.2);
              transform: translateX(1000px) scaleX(2) scaleY(0.2);
      -webkit-transform-origin: 0% 50%;
              transform-origin: 0% 50%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
      
    }
  }
  @keyframes slide-out-blurred-right {
    0% {
      -webkit-transform: translateX(0) scaleY(1) scaleX(1);
              transform: translateX(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(1000px) scaleX(2) scaleY(0.2);
              transform: translateX(1000px) scaleX(2) scaleY(0.2);
      -webkit-transform-origin: 0% 50%;
              transform-origin: 0% 50%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
      
    }
  }
  
 
  